---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div id="filter-btns">
  <button class="chip active" data-filter="all">All</button>
  <button class="chip" data-filter="electronics">Electronics & PCBs</button>
  <button class="chip" data-filter="cfd">Simulations & computational fluid dynamics</button>
  <button class="chip" data-filter="ai">Machine learning</button>
  <button class="chip" data-filter="apps">Apps</button>

</div>

{% assign sorted = site.portfolio | sort: 'date' | reverse %}
{% for post in sorted %}
  <div class="portfolio-item" data-categories="{{ post.categories | join: ' ' }}">"
    {% include archive-single.html %}
  </div>
{% endfor %}


<script>
  const filterButtons = document.querySelectorAll('#filter-btns .chip');
  const items = document.querySelectorAll('.portfolio-item');

  filterButtons.forEach(button => {
    button.addEventListener('click', () => {
      button.classList.toggle('active');
      const filter = button.getAttribute('data-filter');

      items.forEach(item => {
        const tags = item.dataset.categories.split(' ');
        item.style.display =
          (filter === 'all' || tags.includes(filter))
            ? 'block'
            : 'none';
      });
    });
  });

</script>