---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div id="filter-btns" class="archive-filters">
  <button class="filter-btn" data-filter="all">All</button>
  <button class="filter-btn" data-filter="electronics">Electronics and PCBs</button>
</div>

{% assign sorted = site.portfolio | sort: 'date' | reverse %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}


<script>
  const filterButtons = document.querySelectorAll('#filter-btns .filter-btn');
  const items = document.querySelectorAll('.list__item');

  filterButtons.forEach(button => {
    console.log("Adding event listener to button:", button);
    button.addEventListener('click', () => {
      const filter = button.getAttribute('data-filter');

      items.forEach(item => {
        console.log("Filtering item:", item, "with filter:", filter);
        if (filter === 'all' || item.classList.contains(filter)) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });
    });
  });

</script>